<a href="https://colab.research.google.com/github/Saividya5009/assignment3/blob/master/assignment_module_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.generate first n number of fibbonacci numbers.

In [ ]:
nterms = int(input("How many terms"))
n1, n2 = 0, 1
count = 0
if nterms <= 0:
   print("enter a positive integer")
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       n1 = n2
       n2 = nth
       count=count+1

How many terms8
Fibonacci sequence:
0
1
1
2
3
5
8
13

2.multiplication table of k

In [ ]:
k=int(input("enter the value of k"))
for i in range(1,11):
  print(k,'x',i,'=',k*i)

enter the value of k9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

3.write a program to find gcd and hcf.

In [ ]:
num1 = int(input("Enter 1st number"))
num2 = int(input("Enter 2nd number"))
i = 1
while(i <= num1 and i <= num2):
  if(num1 % i == 0 and num2 % i == 0):
    gcd = i
  i = i + 1
print("GCD is", gcd)

Enter 1st number5
Enter 2nd number10
GCD is 5

In [ ]:
def hcf(x,y):
  if(x>y):
    small=x
  else:
    small=y
    for i in range(1,small+1):
      if((x%i==0)and (y%i==0)):
        hcf=i
    return hcf
print("the hcf of x,y=",hcf(3,6))

the hcf of x,y= 3

4.take word from user and reverse it.

In [ ]:
s=str(input("enter a word"))
print("the reverse word=",s[::-1])

enter a wordvidya
the reverse word= aydiv

5.print all numbers from 0 to 6 except 3 and 6

In [ ]:
for i in range(6):
  if(i==3 or i==6):
    continue
  print(i,end=' ')

0 1 2 4 5

6.convert binary to decimal.

In [5]:
def binaryToDecimal(n): 
    num = n
    decvalue=0
    base = 1 
      
    temp = num 
    while(temp): 
        lastdigit = temp % 10 
        temp = int(temp / 10) 
          
        decvalue += lastdigit * base 
        base = base * 2
    return decvalue
print(binaryToDecimal(1000))

8

7.count even and odd numbers in series.

In [ ]:
evencount,oddcount=0,0
for i in range10):
  if(i%2==0):
    evencount=evencount+1
  else:
    oddcount=oddcount+1
print("the count of even number",evencount)
print("the count of odd number",oddcount)

the count of even number 10
the count of odd number 10

8.Take 10 integers from keyboard using loop and print their average value on the screen Print the   following patterns using loop : 
     * 
     ** 
     *** 
     ****

In [8]:
N=int(input("how many terms"))
sum=0
for i in range(N):
  numbers=float(input("enter the value of number"))
  sum+=numbers
average=sum/N
print("the average of values are",average)

how many terms10
enter the value of number2
enter the value of number3
enter the value of number6
enter the value of number8
enter the value of number9
enter the value of number10
enter the value of number4
enter the value of number5
enter the value of number7
enter the value of number9
the average of values are 6.3

In [19]:
num=int(input("enter the no of rows"))
for i in range(1,num+1):
  for j in range(1,i+1):
    print('*',end='')
  print()

enter the no of rows4
*
**
***
****